*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'La Belle Aurore Regular';
    font-style: normal;
    font-weight: normal;
    src: local('La Belle Aurore Regular'), url('LaBelleAurore.woff') format('woff');
    }


.hero{
    width: calc(100% - 130px);
    position: absolute;
    right: 0;
    top: 0;
    height: 98vh;
    margin-top: 15px;
   
}


.code{
    font-family: 'La Belle Aurore Regular';
    color: #515152;
    font-size: 22px;
    margin:40px;
    position: relative;
}

.code::after{
    content: "<body>";
    color: #515152;
    position: absolute;
    top: 25px;
    left: 20px;
}


@media only screen and (max-width: 720px) {
    .hero{
        width: 100vw;
        position: absolute;
        right: 0;
        overflow: hidden;
        
    }
    .all{
        display: none;
    }
}
