
.work-hero{
    width: calc(100% - 130px);
    position: absolute;
    right: 10PX;
    top: 0;
    max-height: 100vh;
    margin-top: 30px;
}

.cards{
    margin: 40px 50px;
    column-count: 4;
    gap: 25px;
    height: 100vh;
}

